/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #214252;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul, .jumbotron {
  margin-bottom: 0;
}

/* Header */
#header {
  padding-top: 50px;
}
#nav {
  padding: 15px 0px;
}
#nav ul {
  list-style: none;
}
#nav ul li {
  padding: 5px 10px;
  font-weight: 900;
}
#nav ul li a {
  text-decoration: none;
  color: #214252;
}
#logo {
  width: 100px;
}

/* Landing */
#landing {
  min-height: 50vh;
  padding-bottom: 50px;
  text-align: center;
}
#landing h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 3rem;
}
#landing p {
  margin-top: 2px;
  font-weight: 500;
  font-size: 1.5rem;
}
#social {
  margin-top: 20px;
}
#social a {
  margin: 0 3px;
}

/* Main */
#main {
  background-color: #214252;
  min-height: 60vh;
}
#dp {
  width: 100%;
  max-width:  350px;
  border-radius: 50%;
}
#desc {
  border-left: 2px solid #f05454;
  margin: 30px 0;
}
#desc p {
  color: #f4f4f2;
  padding: 10px 0;
  font-size: 1.3rem;
  margin-left: 20px;
}

/* Portfolio */
#portfolio {
  min-height: 60vh;
}
#portfolio-h {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
}

/* Contact */
#contact {
  min-height: 60vh;
}
#bttn {
  background-color: #f05454;
  border:none;
}
/* Footer */
#footer {
  border-top: 1px solid #f05454;
}
#footer ul {
  list-style: none;
} 
#footer ul li img {
  width: 40px;
}
